.jumbotron(style='background-image: linear-gradient(to bottom, #3D517C 0, #548B99 100%);width:100%;background-color: beige; margin-bottom: 0px; margin-top: 0px')
  h1.text-center Eventful 
.jumbotron(style='background-color: aliceblue; margin-top: 0px; margin-bottom:0px')
  .row
    .col-md-12.text-center
      h1 This is a test
      p This is some sample text to test if everything looks ok.
.divider
.jumbotron(style='background-color: beige; margin-top: 0px')
  .row
    .col-md-4.text-center
      h1 Cooler
      p This is some sample text to test if everything looks ok.
    .col-md-4.text-center
      h1 Faster
      p This is some sample text to test if everything looks ok.
    .col-md-4.text-center
      h1 Stronger 
      p This is some sample text to test if everything looks ok.
